<div class="container-fluid">
  <div class="row">
    <!-- Slider -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner pmDelete">
        <div class="carousel-item active">
          <img src="assets/img/imgSlider01.jpg" class="imgTotal" alt="...">
        </div>
        <div class="carousel-item pmDelete">
          <img src="assets/img/imgSlider02.jpg" class="imgTotal" alt="...">
        </div>
      </div>
    </div>
    <!-- Fin Slider -->
  </div>
</div>
