<app-search></app-search>

<!-- Contenido peliculas -->
<div class="container-fluid">
  <div class="row" id="contenido">
    <div class="col-md-12 col-lg-12 col-xl-6">
      <div class="contenido-card">
        <img value="${pelicula[i].id}" id="btn-trailer${[i]}" src="${rutaImg}${pelicula[i].poster_path}" alt="..."
          onclick="trailer()" data-toggle="modal" data-target="#myModal">
        <div class="info-card col-sm-12 col-md-7 col-lg-7">
          <p class="card-title title-card"></p>
          <p class="card-text description-card"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin contenido peliculas -->
